
@-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  html {
      width: 98vw;
      height: 96vh;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    animation: bg-scrolling-reverse 0.92s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  
    }
  
    .text {
        text-align:center;
       position:absolute; 
      text-transform: uppercase;
      font-family: verdana;
      font-size: 3vw;
      font-weight: 400;
      color: #a2a2a2;
      text-shadow: 1px 1px 1px #2c2c2c,
          1px 2px 1px #2c2c2c,
          1px 3px 1px #2c2c2c,
          1px 4px 1px #2c2c2c,
          1px 5px 1px #2c2c2c,
          1px 6px 1px #2c2c2c,
          1px 7px 1px #2c2c2c,
          1px 8px 1px #2c2c2c,
          1px 9px 1px #2c2c2c,
          1px 10px 1px #2c2c2c,
      1px 18px 6px rgba(16,16,16,0.4),
      1px 22px 10px rgba(16,16,16,0.2),
      1px 25px 35px rgba(16,16,16,0.2),
      1px 30px 60px rgba(16,16,16,0.4);
  }
  
  .btn {
      outline: none;
      border: none;
      cursor: pointer;
      display: block;
      position: relative;
      background-color: #cccccc;
      font-size: 2.5vw;
      font-weight: 1000; 
      color: rgb(46, 46, 46);
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px 40px;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: 0 9px #545454;
      font-family: 'Georgia', sans-serif; 
  }
  
  .btn:hover {
      box-shadow: 0 4px #545454;
      top: 2px;
  }
  
  .btn:active {
      box-shadow: none;
      top: 6px;
  }

  .border{
    align-self: center;
    box-sizing: border-box;
    position:absolute;
    background: black;
    background-image: linear-gradient(to top right, #5D5D5B, #383838);
    padding: 7px;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    box-shadow:
      -1px 1px var(--blur) 1px rgba(0,0,0,0.10),
      -2px 2px var(--blur) 1px rgba(0,0,0,0.09),
      -3px 3px var(--blur) 1px rgba(0,0,0,0.08),
      -4px 4px var(--blur) 1px rgba(0,0,0,0.07),
      -5px 5px var(--blur) 1px rgba(0,0,0,0.06),
      -6px 6px var(--blur) 1px rgba(0,0,0,0.05),
      -7px 7px var(--blur) 1px rgba(0,0,0,0.04),
      -8px 8px var(--blur) 1px rgba(0,0,0,0.03),
      -9px 9px var(--blur) 1px rgba(0,0,0,0.03),
      -10px 10px var(--blur) 1px rgba(0,0,0,0.03),
      -11px 11px var(--blur) 1px rgba(0,0,0,0.03),
      -12px 12px var(--blur) 1px rgba(0,0,0,0.02),
      -13px 13px var(--blur) 1px rgba(0,0,0,0.02),
      -14px 14px var(--blur) 1px rgba(0,0,0,0.01),
      -15px 15px var(--blur) 1px rgba(0,0,0,0.01),
      -16px 16px var(--blur) 1px rgba(0,0,0,0.01)
    ;
    &:before{
      content: ' ';
      display: block;
      padding-bottom: 140%;
    }
  }
  
  .frame{
    left: 3%;
    top: 2.5%;
    box-shadow: inset -1px 1px 6px 1px rgba(0,0,0,.24);
    width: 95%;
    height: 95%;
    background: white;
    align-items: center;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    margin: 0 auto;
  }
  
  img{
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.2);
    height: 180px;
    width: 180px;
    background-size: cover;
    background-position: center center;
  }
  

  
 
  
  